.video-title{
        margin-top: 0px;
        font-size: 14px;
        font-weight:500;
        line-height: 20px;
        margin-bottom: 10px;
       }
    
  
    .thumbnail {
        width: 100%;
        
      }     
        .Profile-Picture{
       border-radius: 40px;
       width: 36px;
       }
      

       .video-info-grid{
         display: grid;
         grid-template-columns: 50px 1fr;
       }
    
     .video-grid{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap:16px ;
      row-gap: 40px;
      
     }

     @media (max-width: 750px) {
      .video-grid{
        grid-template-columns: 1fr 1fr;
      }
     }
     @media(min-width: 751px) and (max-width:899){
       .video-grid{
        grid-template-columns: 1fr 1fr 1fr ;
      }
     }

     @media(min-width: 900px){
       .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
      }
     }

     .thumbnail-row{
      margin-bottom:12px ;
      position: relative;
     
     }
     .video-auther{
      font-size: 8px;
      color: rgb(96, 96, 96);
      margin-bottom:4px ;
     }

     .video-stats{
      font-size: 12px;
      color: rgb(96, 96, 96);
     }
  .video-time{
      position: absolute;
      background-color: black;
      color: white;
      font-family: roboto,arial;;
      font-size: 12px;
      font-weight:500;
      right: 8px;
      bottom: 10px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 4px;
      padding-bottom: 4px;
      border-radius: 2px;

  }